:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-bg-color: #ffffff;
}

/*
:root после -- имя идет произвольное
стили для боди, хедера и футера. Что бы можно было подключать для всех страниц hrml*/
